<?xml version="1.0"?>
<!--<deployment retail="true"/>-->
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="RepositoryConnection" connectionString="Data Source=mssql3.orion.rs;Initial Catalog=translit_OggyDatabase;UID=translit_Oggy;Password=Oggy1981;Connect Timeout=30" />

  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true"/>
      
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <sessionState timeout="10" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>